<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <title>Listing group</title>
</head>
<body>

  <h1 id="page_title">Listing groups</h1>

  <div id="page_content">

    <table summary="group list">
      <thead>
        <tr>
          <th>Name</th>
          <th>Desc</th>
        </tr>
      </thead>
      <tbody>
        <tr id="mark:groups">
          <td id="mark:group_name">group name</td>
          <td id="mark:group_desc">group description</td>
          <td>
            <a href="#" id="mark:link_to_show">Show</a>
            <a href="#" id="mark:link_to_edit">Edit</a>
            <a href="#" id="mark:link_to_destroy">Destroy</a>
          </td>
        </tr>
      </tbody>
    </table>

    <p>
      <a href="#" id="link_to_prev_page">Previous page</a>
      <a href="#" id="link_to_next_page">Next page</a>
    </p>

    <p>
      <a href="#" id="link_to_new">New group</a>
    </p>

    <p>
      <a href="#" id="link_to_members">Go to members</a>
    </p>

  </div>

</body>
</html>