body		{
		background-color:#FFFFFF;
		}
.mainbody	{
		color:#333333;
		line-height:150%;
		}

a:link, a:active, a:hover {
		color:#CC6600;
		}
a:visited	{
		color:#DD9900;
		}

p		{
		color:#333333;
		line-height:150%;
		}

pre		{
		width: 100%;
		line-height:130%;
		white-space:pre;
		}
.program	{
		border-style:solid;
		border-width:2;
		border-color:#6699FF;
		color:#333333;
		background-color:#DDEEFF;
		padding:8 9 8 9;
		margin:0;
		word-break:keep-all;
		}
.terminal	{
		border-style:solid;
		border-width:1;
		border-color:#FFFFFF;
		color:#333333;
		background-color:#E0E0E0;
		padding:9 10 9 10;
		margin:0;
		word-break:keep-all;
		}
.output		{
		border-style:solid;
		border-width:2;
		border-color:#CCCCCC;
		color:#333333;
		background-color:#FFFFFF;
		padding:8 9 8 9;
		margin:0;
		word-break:keep-all;
		}
.program_caption {
		}
.terminal_caption {
		}
.output_caption {
		}


ul,ol,dl	{
	 	Xmargin:0px;
		Xpadding:0px;
		color:#333333;
		line-height:130%;
		}

.dt2, .dt3	{
		font-weight:bold;
		}

.table1		{
		padding:2;
		color:#333333;
		background-color:#DDDDCC;
		line-height:130%;
		Xborder-width:1;
		Xborder-style:solid;
		Xborder-color:#FFFFFF;
		margin:5;
		}
.th1, .th2	{
		padding:1;
		color:#333333;
		Xbackground-color:#DDDDCC;
		background-color:#CCCCBB;
		line-height:130%;
		}
.td1, .th2	{
		padding:1;
		color:#333333;
		background-color:#EEEEDD;
		line-height:130%;
		}
.caption1, .caption2 {
		Xfont-size:x-small;
		color:#333333;
		}
.table2		{
		padding:1;
		color:#333333;
		background-color:#DDDDCC;
		line-height:130%;
		Xborder-width:1;
		Xborder-style:solid;
		Xborder-color:#FFFFFF;
		margin:5;
		}

h1, .chapter, .doctitle {
	  	Xfont-size:20pt;
		color:#333333;
	 	font-weight:bold;
		padding:30 0 10 0;
		}
h2, .section	{
		Xfont-size:16pt;
		color:#333333;
		font-weight:bold;
		border-style:solid;
		border-color:#6699FF;
		border-width:0 0 2 30;
		padding:10 20 0 5;
		}
h3, .subsection	{
		Xfont-size:12pt;
		color:#333333;
		font-weight:bold;
		border-style:solid;
		border-color:#6699FF;
		border-width: 0 0 0 15;
		padding: 10 20 0 5;
		}

.em		{
		font-weight:bold;
		}

.toc		{
		font-size:small;
		line-height:100%;
		}
.footnote	{
		font-size:small;
		}
.note		{
		background-color:#FFFFDD;
		border-style:solid;
		border-width:0 1 0 1;
		border-color:#DDDD66;
		color:#333300;
		Xfont-size:small;
		line-height:120%;
		padding: 5 20 5 20;
		}
.figure		{
		Xborder-width:1;
		Xborder-color:#DDDD66;
		Xwhite-space:pre;
		}
