body {
        background-color:#FFFFFF;
}

.menu_part , .contents_part {
        border-style:solid;
        border-color:#006699;
        border-width:2px;
        padding:10px;
}

.menulist {
}

.contents {
}

.copyright {
        text-align:center;
        color:#FFFFFF;
        background-color:#006699;
}

ul  {
        margin:0px;
        padding-left:15px;
}
