body {
	background-color:#FFFFFF;
}

.menulist , .contents {
	border-style:solid;
	border-color:#006699;
	border-width:2px;
	padding:10px;
}

.copyright {
	text-align:center;
	color:#FFFFFF;
	background-color:#006699;
}

ul  {
	margin:0px;
	padding-left:15px;
}
