<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="en">
  <head>
    <title id="mark:header_title">Members: </title>
    <link rel="stylesheet" type="text/css" href="scaffold.css" id="mark:stylesheet" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  </head>
  <body>

    <p style="color: green" id="mark:flash_notice"></p>

    <h1 id="replace_content_with_content:page_title">page title</h1>

    <div id="replace_element_with_content:page_content">
      .....
    </div>

    <div style="text-align: right; font-size: x-small;">
      copyright&copy 2006 kuwata-lab.com all rights reserved.
    </div>

  </body>
</html>
