<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="scaffold.css">
</head>
<body>

  <h1 id="page_title">Editing member</h1>

  <div id="page_content">

    <form action="update" id="form_for_update">

      <div id="replace_element_with_content:form_content">
        ...
      </div>

      <input type="submit" id="mark:submit">
    </form>

    <a href="#" id="link_to_show">Show</a> | <a href="#" id="link_to_list">List</a>

  </div>

</body>
</html>
