<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Show member</title>
</head>
<body>

  <h1 id="page_title">Show member</h1>

  <div id="page_content">
    <p>
      <b>Name:</b>
      <span id="mark:member_name">Foo</span>
    </p>

    <p>
      <b>Email:</b>
      <span id="mark:member_email">foo@mail.com</span>
    </p>

    <p>
      <b>Birth:</b>
      <span id="mark:member_birth">2000-01-01</span>
    </p>

    <p>
      <b>Gender:</b>
      <span id="mark:member_gender">Woman</span>
    </p>

    <p>
      <b>Group:</b>
      <span id="mark:member_group">admin</span>
    </p>

    <a href="#" id="link_to_edit">Edit</a> |
    <a href="#" id="link_to_list">Back</a>
  </div>

</body>
</html>
