.tabs a {
	border-style: solid;
	border-color: #006699;
	border-width: 1px 1px 0px 1px;
	color: #006699;
	font-weight: bold;
	text-decoration:none;
	padding: 4px 10px 1px 10px;
	margin: 0px 0px 0px 20px;
}
.tabs a.selected {
	background-color:#006699;
	color:#FFFFFF;
}
.tabs a:hover, .tabs a:active {
	background-color: #CCEEFF;
}
.tabsline {
	border-style:solit;
	background-color:#006699;
	padding:2px;
	border-width:0;
}
.menus  {
	border-style: solid;
	border-color: #006699;
	border-width: 1px 1px 1px 1px;
	width:120;
}
.menus a {
	color:#006699;
	padding: 4px 10px 1px 10px;
	text-decoration:none;
}
.menus a.selected {
	font-weight:bold;
}
.menus a:hover, .menus a:active {
	text-decoration:underline;
}
.menu_title {
	color:#FFFFFF;
	background-color:#006699;
	font-weight:bold;
	padding:3 10 2 10;
	width:120;
}
.copyright {
	font-size:small;
	color:#999999;
}
