<html>
  <head>
    <title>Recipes: <%=h(@controller.action_name)%></title>
<%= stylesheet_link_tag 'scaffold' %>
  </head>
  <body>
    <div>

      <h1>Online Cookbook - All Recipes</h1>

      <table border="1">
        <thead>
          <tr>
            <th width="40%">Recipe</th>
            <th width="20%">Category</th>
            <th width="20%">Date</th>
          </tr>
        </thead>
        <tbody>
<% i = 0 %>
<% for recipe in @recipes do %>
<%   i += 1 %>
<%   color = i % 2 == 0 ? "#CCCCFF" : "#FFCCCC" %>
          <tr bgcolor="<%= color %>">
            <td><a href="<%= url_for(:action=>'show', :id=>recipe.id) %>"><%=h(recipe.title)%></a></td>
            <td><%=h(recipe.category.name)%></td>
            <td><%=h(recipe.date)%></td>
          </tr>
<% end %>
        </tbody>
      </table>

      <p>
        <a href="<%= url_for(:action=>'new') %>">Create new recipe</a>
      </p>

    </div>
  </body>
</html>
