<html>
  <head>
    <title>Recipes: <%=h(@controller.action_name)%></title>
<%= stylesheet_link_tag 'scaffold' %>
  </head>
  <body>
    <div>

      <h1>New Recipe</h1>

      <form action="<% url_for(:action=>'create') %>" method="post">
        
        <table>
          <tr>
            <th>Title:</th>
            <td>
              <input id="recipe_title" name="recipe[title]" type="text" value="" />
            </td>
          </tr>
          <tr>
            <th>Description:</th>
            <td>
              <input id="recipe_description" name="recipe[description]" type="text" value="" />
            </td>
          </tr>
          <tr>
            <th>Category:</th>
            <td>
              <select name="recipe[category_id]">
<% for category in @categories do %>
                <option value="<%=h(category.id)%>"><%=h(category.name)%></option>
<% end %>
              </select>
            </td>
          </tr>
          <tr>
            <th>Instructions:</th>
            <td>
              <textarea id="recipe_instructions" name="recipe[instructions]" cols="40" rows="20" wrap="virtual"></textarea>
            </td>
          </tr>
        </table>
        
        <input type="submit" value="Submit" />
        
      </form>
      
      <p>
        <a href="<%= url_for(:action=>'list') %>">Back</a>
      </p>

    </div>
  </body>
</html>
