body {
    color: #333333;
    background-color: #FFFFFF;
    margin: 0px 0px 0px 0px;
    font: 16px 'Lucida Grande', Geneva, Arial, Verdana,'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','ＭＳ Ｐゴシック', /*sans-serif*/ gothic;
}


#logo1 {
    /*
    color: #FF9900;
    font-size: xx-large;
    font-weight: bold;
    */
    color: #FFFFFF;
    font-size: 32px; /* xx-large; */
    font-weight: bold;
    background-color: #FF9900;  /* or orange */
    padding: 10px 0px 10px 20px;
    margin: 0px 0px 20px 0px;
}

#logo2 {
    color: #FFFFFF;
    background-color: #FF9900;
    font-size: 32px; /* xx-large; */
    font-weight: bold;
    padding: 10px 0px 10px 20px;
}

/*
#logo2 #copyright {
    font-size: 12px;
}
*/

#counter {
    /* text-align: right; */
    float: right;
    margin: 10px 20px 10px 0px;
}

#copyright {
    color: #999999;
    font-size: 12px /* x-small */;
    margin: 10px 0px 10px 20px;
}


.tabs {
    xborder-style: solid;               /* 枠線の種類（solidは直線） */
    xborder-color: #FF9900;             /* 枠線の色 */
    xborder-width: 0px 0px 1px 0px;     /* 枠線の太さ（上、右、下、左） */
    font-size: 14px;
}
.tabs a {
    border-style: solid;               /* 枠線の種類（solidは直線） */
    border-color: #FF9900;             /* 枠線の色 */
    border-width: 1px 1px 0px 1px;     /* 枠線の太さ（上、右、下、左） */
    color: #FF9900;                    /* フォントの色 */
    text-decoration: none;             /* 下線を消す */
    padding: 4px 20px 0px 20px;        /* 枠と文字とのすき間（上、右、下、左） */
    margin: 0px 0px 0px 20px;          /* タブの左側を空ける */
    /* background-color: #FFE090; */
    /* width: 20em; */
}
.tabs a.current {
    background-color: #FF9900;         /* 選択したタブの背景色 */
    border-bottom: 1px solid #FF9900;  /* その背景色で下線を引く */
    color: #FFFFFF;
    font-weight: bold;
}
.tabs a:hover, .tabs a:active {
    background-color: #FFDDCC;         /* マウスを重ねたときの背景色 */
    text-decoration: underline;        /* リンクの下線を表示 */
}

//.contents {
//    background-color: #CCEEFF;        /* 選択したタブの背景色と同じ色 */
//    border-bottom: 1px solid #6699FF; /* その背景色で下線を引く */
//}


#mainbody {
    margin: 0px;
    padding: 10px 20px 10px 20px;
    border-style: solid;
    border-color: #FF9900;
    border-width: 1px 1px 1px 1px;
    line-height: 150%;
    padding-bottom: 40px;
}

/*
#breadcrumbs {
    padding: 10px 20px 10px 20px;
}
*/

#breadcrumbs a {
    color: #FF9900;
    font-weight: bold;
    text-decoration: none;
}

#breadcrumbs a:hover, #breadcrumbs a:active {
    background-color: #FFDDCC;         /* マウスを重ねたときの背景色 */
    text-decoration: underline;        /* リンクの下線を表示 */
}



a:link, a:active, a:hover {
	color:#CC6600;
}

a:visited {
	color:#DD9900;
}

p {
	color:#333333;
}

pre {
	/* width: 100%; */
	line-height:130%;
	white-space:pre;
}

.program {
	border-style:solid;
	/*
	border-width:0px 2px 2px 0px;
	border-color:#999999;
	*/
	border-width:1px;
	border-color:#FF9900;
	background-color:#FFE090;
	padding:8px 9px 8px 9px;
	margin:0px;
	word-break:break-all;
}

.terminal {
	border-style:solid;
	border-width:1px;
	border-color:#999999;
	background-color:#DDDDDD;
	padding:9px 10px 9px 10px;
	margin:0px;
	word-break:break-all;
}

.output {
	border-style:solid;
	border-width:1px;
	border-color:#CCCCCC;
	background-color:#FFFFFF;
	padding:8px 9px 8px 9px;
	margin:0px;
	word-break:break-all;
}

.program_caption {
	margin-top: 20px;
}

.terminal_caption {
	margin-top: 20px;
}

.output_caption {
	margin-top: 20px;
}


.ol1 {
	list-style-type:1;
}
.ol2 {
	list-style-type:A;
}
.ol3 {
	list-style-type:i;
}

.ul1 {
	list-style-type:disc;
}
.ul2 {
	list-style-type:circle;
}
.ul3 {
	list-style-type:square;
}


.dt2, .dt3 {
	font-weight:bold;
}

.table1 {
	padding:2px;
	background-color:#DDDDCC;
	/*
	border-width:1;
	border-style:solid;
	border-color:#FFFFFF;
	*/
	margin:5px;
}

.th1, .th2 {
	padding:1px;
	/* background-color:#DDDDCC; */
	background-color:#CCCCBB;
}

.td1, .th2 {
	padding:1px;
	color:#333333;
	background-color:#EEEEDD;
}

.caption1, .caption2 {
	/* font-size:x-small; */
}

.table2 {
	padding:1px;
	background-color:#DDDDCC;
	/*
	border-width:1;
	border-style:solid;
	border-color:#FFFFFF;
	*/
	margin:5px;
}

/*
h1, .chapter, .doctitle {
	color:#333333;
	font-weight:bold;
	padding:30 0 10 0;
}
*/

h2 {
	font-weight:bold;
	border-style:solid;
	border-color:#FF9900;
	border-width:0px 0px 1px 30px;
	padding:10px 20px 0px 5px;
	margin: 50px 0px 0px 0px;
}

h3 {
	font-weight:bold;
	border-style:solid;
	border-color:#FF9900;
	border-width: 0px 0px 0px 15px;
	padding: 10px 20px 0px 5px;
	margin: 40px 0px 0px 0px;
}

.em {
	font-weight:bold;
}

.toc {
	/* font-size:small; */
}

.footnote {
	font-size:small;
}

code {
    font-size: 16px;
}

.footnote code {
    font-size: small;
}

.note {
	background-color:#FFFFDD;
	border-style:solid;
	border-width:0px 1px 0px 1px;
	border-color:#DDDD66;
	/* font-size:small; */
	line-height:120%;
	padding: 5px 20px 5px 20px;
}

.figure {
	/*
	border-width:1;
	border-color:#DDDD66;
	white-space:pre;
	*/
}

